title {
    
    width: fit-content;
}
nav .logo {
    color: coral;
    text-align: center;
    font-size: 25px;
    display: grid;
    grid-template-columns:auto;
    align-items: center;
    background: white;
    top: 0px;
    left: 0px;
    position:fixed;
    width:100%;
    
}

body {
    background-color: rgb(190, 238, 246);
    background-blend-mode: color-burn;
    width: 100%;
   
}
.overflow {
height: 400px;
background-size: cover;
overflow:auto;
border-radius: 5px;
margin-left: 150px;
   
}
.navigation ul {
    font: bold 20px Arial, sans-serif;
    margin-top: 50px;
    padding: 60px 60px;
    display: flex;
    justify-content: center;
        
}

.navigation li {
  
  margin: 0.75rem;
  
}

.navigation li a {
    padding: 100px 100px; 
    background-size: 100%;
    border-radius: 10px;
    margin-top: auto;
    margin-right: 60px;
    background-repeat: no-repeat;
    
    }

.cake {
    background-image: url(./recipes/icon_cake.png);
   }

.toast {
    background-image: url(./recipes/icon_avocado.png);
}
.bliss {
    background-image: url(./recipes/icon_lemonade.png);
}
