title {
    width: fit-content;
}
nav .logo {
    color: coral;
    margin: 0;
    margin-left: -10px;
    margin-top: -10px;
    text-align: left;
    font-size: 25px;
    padding-left: 25px;
    grid-template-columns:auto;
    align-items: center;
    background: white;
    position:fixed;
    width:100%;
    
}

html{
    
    background: #648880;
    background: linear-gradient(to right, #f6f1d3, #648880, #293f50);
   
}
.overflow img{
margin-block-start: 95px;
width: 100%;
position: relative;
   
}
.navigation ul {
    margin-top: 10px;
    display: flex;
    justify-content: center;
        
}

.navigation li {
  
  margin: 0.75rem;
  list-style: none;
  flex: 1;
  
}

.navigation img {
    width: 250px;
    resize: horizontal;
    border-radius: 20px;
    box-shadow: -10px 10px black;
}

